
#main-header {
    color: white;
    position: absolute;
    margin-top: 35vh;
    margin-left: 5vw;
    font-size: 6vh;
}

#mage {
    height: 25vh;
    width: 15vw;
    position: absolute;
    margin-top: 20vh;
    margin-right: 3vw;
}

#game-text {
    position: absolute;
    margin-top: 8vh;
    margin-left: 25vw;
    font-size: 4vh;
}

.bit {
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    color: white;
}

html {
    background-color: black;
    overflow-x: hidden;
}