
#main-header {
    color: #f0f0f0;
    position: absolute;
    margin-top: 35vh;
    margin-left: 5vw;
    font-size: 6vh;
}

#mage {
    height: 25vh;
    width: 15vw;
    position: absolute;
    margin-top: 20vh;
    margin-right: 3vw;
}

#game-text {
    position: absolute;
    margin-top: 12vh;
    margin-left: 30vw;
    font-size: 4vh;
}

.bit {
    font-family: 'Press Start 2P', cursive;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
    color: #f0f0f0;
}

html {
    background-color: #1c1c1c;
    overflow-x: hidden;
}